# Assignment for week 8

Use the following table to provide us with

|name | exam number|
|----|----|
|Jasper van der Gaag|2000392|

In this assignment you will have to make a plot of the mortality due to "Ischemic heart diseases (IHD)". IHD are caused by the
accumulation of fatty deposits lining the inner wall of a coronary artery, restricting blood flow to the heart. IHD alone
were responsible for 644 000 deaths across EU countries in 2013, accounting for around 13% of all deaths. Mortality
rates from IHD are highest in Lithuania, Latvia, the Slovak Republic, Hungary and the Czech Republic, with over 350 deaths per 100 000 population. The countries with the lowest IHD mortality rates are France, Portugal, the
Netherlands, Spain and Belgium. Our plot is taken from http://www.oecd-ilibrary.org/docserver/download/8116231e.pdf?expires=1486219843&id=id&accname=guest&checksum=F326409CF6DCD4DC61990871F943B489 page 63. I have downloaded the data for you and saved it as a csv: mrate.csv.
First read the data with the command read.csv2

If you encounter the problem that all observations per row are in one cell, add: ,sep=";"
The command should look like 
namedf <-read.csv2("name of file", sep=";")

In [1]:
mrate <- read.csv2("mrate.csv")
mrate

   Year Netherlands Hungary France Lithuania United.Kingdom EU28
1  2000 157.6       416.6   94.3   611.6     258.6          221.3
2  2001 148.7       418.8   90.7   677.0     249.8          213.8
3  2002 140.7       414.3   88.0   666.1     240.7          206.5
4  2003 134.8       440.0   87.1   656.5     231.7          205.1
5  2004 120.6       441.7   80.1   642.2     213.4          192.5
6  2005 111.8       450.8   77.4   669.9     200.7          187.1
7  2006 102.6       459.9   71.2   650.6     184.5          174.0
8  2007  95.4       431.0   67.6   633.1     175.7          167.3
9  2008  89.3       414.6   64.8   601.6     166.2          159.6
10 2009  81.5       410.5   61.2   575.5     153.4          152.9
11 2010  77.5       413.3   57.7   593.4     146.8          147.2
12 2011  74.1       403.2   55.7   592.9     132.3          139.3
13 2012  71.4       400.2   54.6   592.0     130.5          136.9
14 2013  66.5       396.6   51.8   589.3     126.1          131.9

Please have a look at the structure of data with the command str()

In [3]:
str(mrate)

'data.frame':	14 obs. of  7 variables:
 $ Year          : int  2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 ...
 $ Netherlands   : num  158 149 141 135 121 ...
 $ Hungary       : num  417 419 414 440 442 ...
 $ France        : num  94.3 90.7 88 87.1 80.1 77.4 71.2 67.6 64.8 61.2 ...
 $ Lithuania     : num  612 677 666 656 642 ...
 $ United.Kingdom: num  259 250 241 232 213 ...
 $ EU28          : num  221 214 206 205 192 ...

Since the data are in the "wide" format, we need to make it in the long format with the package "tidyr". For the graph we need the package ggplot2.

Load the libraries ggplot2 and tidyr with the command library()

In [16]:
library(dplyr)
library(ggplot2)
library(tidyr)

ERROR: Error: package or namespace load failed for 'dplyr'

Now we have the most difficult part of the assignment. We need to make a new object and than convert the data in the long format with the command "gather".


The command should look like


new object <- gather(name dataframe, name of the new colum, name of the value, column:column)

* For new object you can use for example p.
* The name of our dataframe was s
* The name of the new column could be Country (since we want the countries to be the observations). Country is a new name.
* The name of the value could be mortality (since the numbers are Age-standardised mortality rates per 100 000 population)
* We need the colums from the Netherlands until EU28 (so you have to fill in Netherlands:EU28).

In [17]:
M <- gather(mrate, Country, Mortality, Netherlands: EU28)

ERROR: Error in library.dynam(lib, package, package.lib): DLL 'dplyr' not found: maybe not installed for this architecture?

Now we can make the plot with geom_line of ggplot.
The syntax of the command would be:

ggplot(name of dataframe, aes(x=x-axis, y=y-axis, color=Group)) + geom_line()

* name of dataframe is p if you followed the instructions above (the long format)
* on the x-axis you will need Year
* on the y-axis you will need mortality
* for color you need Country (so we have one line per country)

In [18]:
ggplot(M, aes(x=Year, y=Mortality, color=Country)) + geom_line()

ERROR: Error in ggplot(M, aes(x = Year, y = Mortality, color = Country)): object 'M' not found